@font-face {
  font-family: "washi";
  src: url("./assets/wahufont.ttf");
}
body {
  font-family: "washi";
  padding: 0;
  margin: 0;
  // position: relative;
  // height: 5000px;
  .Wahu {
    width: 100vw;
    height: 100vh;
    background-image: url("/washi.jpg");
    position: fixed;
  }
}
